<!DOCTYPE html>
<html lang="ko">
<head>
<title>Bootstrap Example</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script
	src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.0/jquery.validate.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>


	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4"></div>
			<div class="col-lg-4 col-md-4 col-sm-4">
				<form class="form-signin" id="form-signin" action="test.jsp">
					<h2 class="form-signin-heading">Please sign in</h2>
					<label class="sr-only">Email address</label> 
					<input type="text" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address11" required autofocus>
					
					<label for="inputName" class="sr-only">Name</label> 
					<input type="text" name="inputName" id="inputName" class="form-control" placeholder="Your name"> 
					 
					<label for="inputPassword" class="sr-only">Password</label> 
					<input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
					<div class="checkbox">
						<label> <input type="checkbox" value="remember-me">
							Remember me
						</label>
					</div>
					<button class="btn btn-lg btn-primary btn-block" type="submit" name="submitnbtn"
						id="submitnbtn">Sign in</button>
				</form>

			</div>
			<div class="col-lg-4 col-md-4 col-sm-4"></div>
		</div>
	</div>


	<script type="text/javascript">
	
	
		$(function() {

				$('#form-signin').validate({
					
	  			    submitHandler : function() {
						var f = confirm(document.getElementById("inputEmail").value +  "님의 회원정보 입력 내용으로 등록하시겠습니까?");
						
						if(f) { 
							true; 
						}
						else { 
							false; 
						}  
					},
					// validation rule 설정 
					rules : {
						inputEmail : {
							required : true,
							minlength : 10, 
							email : true
						},
						inputName : {
							required : true,
							minlength : 5
						},
						inputPassword : {
							required : true,
							minlength : 10
						}
					},
					messages : {
						inputEmail : {
							required : "아이디를 입력하시오.",
							minlength : "아이디는 {0}자 이상 입력하여야 됩니다. ",
							email : "올바른 이메일주소를 입력하시오."
						},
						inputName : {
							required : "이름을 입력해 주세요",
							minlength : "이름은 {0}자 이상 입력하여야 됩니다. ",
						},
						
						inputPassword : {
							required : "비밀번호를 입력하시오.",
							minlength : "패스워드는 {0}자 이상 입력하여야 됩니다. "
						}
					},
			        highlight: function (element) {
			            $(element).closest('.form-control').removeClass('success').addClass('error');
			            $(element).value = ""; 
			        },
			        /// 정상 입력된 상태 처리 
			        success: function (element) {
			            element.text('OK!').addClass('valid')
			                .closest('.form-control').removeClass('error').addClass('success');
			        }					
					
				});
		});
	</script>


</body>
</html>